body {
    min-height: 800px;
    display: flex;
    justify-content: space-evenly;
    font-family: Tahoma;
    background-color: #002A32;
    height: max-content;
}

h1 {
    color: #ED254E;
}

div {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: #ED254E solid 2px;
    border-radius: 1rem;
    padding: 10px;
    color: #ED254E;
    font-size: 2rem;
}

button {
    width: 200px;
    height: 200px;
    background-color: #ED254E;
    color: #002A32;
    border-radius: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.25rem;
}